<div class="nk-sidebar">
	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a href="/Default/Index/" aria-expanded="false">
					<i class="icon-home menu-icon"></i><span class="nav-text">Go to Site</span>
				</a>
			</li>

			<li>
				<a href="/Dashboard/Index/" aria-expanded="false">
					<i class="icon-pie-chart menu-icon"></i><span class="nav-text">Dashboard</span>
				</a>
			</li>

			<li>
				<a href="/BookingAdmin/Index/" aria-expanded="false">
					<i class="icon-calender menu-icon"></i><span class="nav-text">Reservations</span>
				</a>
			</li>

			<li>
				<a href="/Staff/Index/" aria-expanded="false">
					<i class="icon-notebook menu-icon"></i><span class="nav-text">Personnels</span>
				</a>
			</li>

			<li>
				<a href="/Testimonial/Index/" aria-expanded="false">
					<i class="icon-lock menu-icon"></i><span class="nav-text">References</span>
				</a>
			</li>

			<li>
				<a href="/Service/Index/" aria-expanded="false">
					<i class="icon-clock menu-icon"></i><span class="nav-text">Services</span>
				</a>
			</li>

			<li>
				<a href="/AdminAbout/Index/" aria-expanded="false">
					<i class="icon-info menu-icon"></i><span class="nav-text">About Us</span>
				</a>
			</li>

			<li>
				<a href="/AdminRoom/Index/" aria-expanded="false">
					<i class="icon-home menu-icon"></i><span class="nav-text">Rooms</span>
				</a>
			</li>

			<li>
				<a href="/Guest/Index/" aria-expanded="false">
					<i class="icon-people menu-icon"></i><span class="nav-text">Guests</span>
				</a>
			</li>

			<li>
				<a href="/AdminContact/Inbox/" aria-expanded="false">
					<i class="icon-envelope menu-icon"></i><span class="nav-text">Messages</span>
				</a>
			</li>

			<li>
				<a href="/AdminMail/Index/" aria-expanded="false">
					<i class="icon-plane menu-icon"></i><span class="nav-text">Mail</span>
				</a>
			</li>

			<li>
				<a href="/AdminImageFile/Index/" aria-expanded="false">
					<i class="icon-film menu-icon"></i><span class="nav-text">Image</span>
				</a>
			</li>

			<li>
				<a href="/AdminFile/Index/" aria-expanded="false">
					<i class="icon-paper-clip menu-icon"></i><span class="nav-text">File</span>
				</a>
			</li>

			<li>
				<a href="/AdminUser/Index/" aria-expanded="false">
					<i class="icon-user menu-icon"></i><span class="nav-text">Users</span>
				</a>
			</li>

			<li>
				<a href="/WorkLocation/Index/" aria-expanded="false">
					<i class="icon-globe menu-icon"></i><span class="nav-text">Locations</span>
				</a>
			</li>

			<li>
				<a href="/Role/Index/" aria-expanded="false">
					<i class="icon-docs menu-icon"></i><span class="nav-text">Roles</span>
				</a>
			</li>

			<li>
				<a href="/RoleAssign/Index/" aria-expanded="false">
					<i class="icon-support  menu-icon"></i><span class="nav-text">Assign Roles</span>
				</a>
			</li>

			<li>
				<a href="/Settings/Index/" aria-expanded="false">
					<i class="icon-settings menu-icon"></i><span class="nav-text">Settings</span>
				</a>
			</li>

			<li>
				<a href="/WorkLocation/Index/" aria-expanded="false">
					<i class="icon-arrow-right menu-icon"></i><span class="nav-text">Exit</span>
				</a>
			</li>
			
		</ul>
	</div>
</div>