@model List<HotelProject.EntityLayer.Concrete.AppRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController/_AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Role Name</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
            <tr>
                <th>@count</th>
                <td>@item.Name</td>
                <td><a href="/Role/DeleteRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a></td>
                <td><a href="/Role/UpdateRole/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Update</a></td>
            </tr>
    }
</table>

<a href="/Role/AddRole/" class="btn mb-1 btn-rounded btn-outline-info">New Role</a>



