@model HotelProject.WebUI.Models.Setting.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController/_AdminLayout.cshtml";
}

<form method="post" >
    <label>Name</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />

    <label>Surname</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />

    <label>Email</label>
    <input type="text" class="form-control" asp-for="Email" />
    <br />

    <label>Username</label>
    <input type="text" class="form-control" asp-for="Username" />
    <br />

    <label>Password</label>
    <input type="password" class="form-control" asp-for="Password" />
    <span asp-validation-for="Password" class="text-warning"></span>
    <br />

    <label>Confirm Password</label>
    <input type="password" class="form-control" asp-for="ConfirmPassword" />
    <span asp-validation-for="Password" class="text-warning"></span>
    <br />

    <button class="btn btn-success">Update</button>
</form>

