@model List<BookingApiLocationViewModel>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    @using(Html.BeginForm("Index", "SearchLocationID", FormMethod.Post))
    {
        <label>City Name</label>
        <input type="text" class="form-control" name="cityName" />
        <br />
        <button class="btn btn-primary">Find City ID</button>
    }

    <table class="table table-bordered">
        <tr>
            <th>City Name</th>
            <th>City ID</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td>@item.dest_id</td>
            </tr>
        }
    </table>
    <br />
    <a href="/BookingByCity/Index/" class="btn btn-dark">New Hotel Booking Info</a>
</div>